<!-- displaying a flash message -->
<%- messages() %>

<div id="management-account">
    <h1><%- title %></h1>
    <h2>Welcome</h2> 
    <p>You're logged in.</p>
    <h2>Update And Delete Portal</h2>
    <a href="/inv">Edit Account Information</a>
</div>
