<%- messages() %>
<div id="management-account">
    <% if (title) { %>
        <h1><%- title %></h1>
        <% } else {res.redirect('/') } %>
    <!-- How to get ${account_firstname} in the h2 -->
    <h2>Welcome</h2> 
    <p>You're logged in.</p>
</div>